textarea {resize: vertical!important;}
.ui.dropdown .menu>.item {font-size: 1em!important;}
.select2-container {width: 100%!important;}
.select2-container--default.select2-container--focus .select2-selection--multiple {border: solid #e7eaec 1px; }
.typeahead { width:90%; z-index: 1051; }
.text-bold{font-weight: bold;}
.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.tooltip-inner {
    white-space:pre-wrap!important;
}

i.icon.delete:before {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  	content: "\f00d";
}

.ibox-content > .sk-spinner {
  display: none;
}
.ibox-content.sk-loading {
  position: relative;
}
.ibox-content.sk-loading:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ibox-content.sk-loading > .sk-spinner {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 2000;
}

.modal-content > .sk-spinner {
  display: none;
}
.modal-content.sk-loading {
  position: relative;
}
.modal-content.sk-loading:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-content.sk-loading > .sk-spinner {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 2000;
}

.sweet-alert > .sk-spinner {
  display: none;
}
.sweet-alert.sk-loading {
  position: relative;
}
.sweet-alert.sk-loading:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sweet-alert.sk-loading > .sk-spinner {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 2000;
}

.chosen-container-single .chosen-single {
    background: #ffffff !important;
    box-shadow: none !important;
    -moz-box-sizing: border-box !important;
    background-color: #FFFFFF !important;
    border: 1px solid #CBD5DD !important;
    border-radius: 2px !important;
    cursor: text !important;
    height: auto !important;
    margin: 0 !important;
    min-height: 30px !important;
    overflow: hidden !important;
    padding: 4px 12px !important;
    position: relative !important;
    width: 100% !important;
}

.sweet-alert.sk-loading {
    position: fixed!important;
}
.nav>li>a>i {color:#3d9dc7;}
.nav>li.active {border-left: 4px solid #ffffff!important;}

.style-custom {
	border: solid 1px #585858;
}

.ui.selection.dropdown {min-width: 5em!important;}